.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  align-items: center;
}

@keyframes ldio-uxqkh3pck3i {
  0 % {transform: rotate(0deg)}
  50% {transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}
.ldio-uxqkh3pck3i div {
  position: absolute;
  animation: ldio-uxqkh3pck3i 0.8s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 10px 0 0 #82b284;
  transform-origin: 80px 85px;
}
.loadingio-spinner-eclipse-1qegxqgghn4 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-uxqkh3pck3i {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-uxqkh3pck3i div {box-sizing: content-box;}